File roadNet-PA.txt downloaded from https://snap.stanford.edu/data/roadNet-PA.html

In [1]:
import networkx as nx

In [2]:
g = nx.read_edgelist("roadNet-PA.txt")

In [3]:
g

In [4]:
g.number_of_edges()

1541898

In [5]:
g.number_of_nodes()

1088092

In [6]:
degree_sequence = sorted([d for n, d in g.degree()], reverse=True)

In [7]:
len(degree_sequence)

1088092

In [8]:
import pandas as pd

In [9]:
df = pd.DataFrame({'deg' : degree_sequence})

In [10]:
df

         deg
0          9
1          9
2          9
3          9
4          8
...      ...
1088087    1
1088088    1
1088089    1
1088090    1
1088091    1

[1088092 rows x 1 columns]

In [11]:
df['deg'].to_csv("degree_sequence.csv")